<?xml version="1.0"?>
<BabumiConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ModelJsonPath>F:\DesktopCharacter\DesktopCharacter\bin\x64\Debug\Res\Live2D\hibiki\runtime\hibiki.model.json</ModelJsonPath>
  <RequiredVersion>4.2</RequiredVersion>
  <Live2DResourceDir>Res/Live2D</Live2DResourceDir>
</BabumiConfig>