<?xml version="1.0"?>
<BabumiConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>hibiki</Name>
  <RequiredVersion>4.2</RequiredVersion>
  <Live2DResourceDir>Res/Live2D</Live2DResourceDir>
  <Live2DModelDir>runtime</Live2DModelDir>
</BabumiConfig>